<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">COSW Angular4</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/" routerLink="/">Home</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/tasks" routerLink="/tasks">Tasks</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/edit" routerLink="/edit">Edit</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/users" routerLink="/users">Users</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/userEdit" routerLink="/userEdit">Edit Users</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a href="#" class="nav-link" (click)="signOut()">(Sign Out)</a>
            </li>

        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li><div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" (click)="open(content)">Search</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>




<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>This feature is not implemented yet. Sorry for the inconvenience</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
    </div>
</ng-template>




<div class="container">
    <router-outlet></router-outlet>
</div>